.search-container button:hover {
    background: #ccc;
  }
 .search-container {
    text-align: center;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
    transition: box-shadow 0.25s;
  }

  .search-container:focus-within{
    background: #f1f2f1;
    box-shadow: 0 0 2px rgba(0,0,0, 0.75);
  }

.search-input{
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
color: #333333;
margin-left: 14px;
outline: none;
border: none;
background: transparent;
width: 700px;

}

.search-input::placeholder{
    color: rgba(0,0,0, 0.5);
}

.search-icon{
    margin-left: 14px;
    color: rgba(0,0,0, 0.5);
}