
<div class="preparation container bg-light">
    <div class="row row-cols-5 homecontent">
        <div class="col  border text-center">JAVA
            <img src="java.png" class="img img-responsive" alt="Java Image" width="100%" height="100%"> 
        </div>
        <div class="col border text-center">PYTHON
            <img src="python.png" class="img img-responsive" alt="Java Image" width="100%" height="100%">
        </div>
        <div class="col border text-center">DBMS
            <img src="dbms.jpg" class="img img-responsive" alt="Java Image" width="100%" height="100%">
        </div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>

        <div class="col  border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>

        <div class="col  border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>

        <div class="col  border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
        <div class="col border rounded-pill">Column</div>
      </div>
</div>

<div class="javatechnology">
    
</div>

<div class="webtechnology">
    
</div>

<div class="cloudtechnology">
    
</div>

<div class="testingtechnology">
    
</div>

<div class="databasetechnology">
    
</div>

<div class="Populartutorials">
    
</div>


