<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbar-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Angular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">C</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">C++</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Python</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Data Structure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Algorithms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SQL</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
              >Disabled</a
            >
          </li>
        </ul>
        <!-- Left links -->
  
        <!-- Search form -->
        <!-- <form class="d-flex input-group w-auto">
          <input
            type="search"
            class="form-control"
            placeholder="Type query"
            aria-label="Search"
          />
          <button class="btn btn-outline-primary" type="button">
            Search
          </button>
        </form> -->

        <!-- Login / Sign up -->
        <div class="d-flex align-items-center">
            <button type="button" class="btn text-primary px-3 me-2">
              Login
            </button>
            <button type="button" class="btn btn-primary me-3">
              Sign up for free
            </button>
            <!-- <a
              class="btn btn-dark px-3"
              href="https://github.com/mdbootstrap/mdb-ui-kit"
              role="button"
              ><i class="fab fa-github"></i
            ></a> -->
          </div>

      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
